In [ ]:
import pandas as pd


df = pd.read_csv('gdp.csv')

df_long = pd.melt(df, id_vars=['Country Name', 'Code'], var_name='Year', value_name='Value')

df_long.reset_index(drop=True, inplace=True)


df_long.to_excel('time_series_data_long_format.xlsx', index=False)

In [ ]:
print(df_long.head())

                  Country Name Code  Year         Value
0                        Aruba  ABW  1960           NaN
1  Africa Eastern and Southern  AFE  1960  1.931311e+10
2                  Afghanistan  AFG  1960  5.377778e+08
3   Africa Western and Central  AFW  1960  1.040428e+10
4                       Angola  AGO  1960           NaN

In [ ]:
df = pd.read_excel('time_series_data_long_format.xlsx')


df_sorted = df.sort_values(by=['Country Name', 'Year'])

print(df_sorted)

      Country Name Code         Year         Value
2      Afghanistan  AFG         1960  5.377778e+08
268    Afghanistan  AFG         1961  5.488889e+08
534    Afghanistan  AFG         1962  5.466667e+08
800    Afghanistan  AFG         1963  7.511112e+08
1066   Afghanistan  AFG         1964  8.000000e+08
...            ...  ...          ...           ...
15427     Zimbabwe  ZWE         2017  1.758489e+10
15693     Zimbabwe  ZWE         2018  1.811554e+10
15959     Zimbabwe  ZWE         2019  1.928429e+10
16225     Zimbabwe  ZWE         2020  1.805117e+10
16491     Zimbabwe  ZWE  Unnamed: 65           NaN

[16492 rows x 4 columns]

In [ ]:
df_sorted.to_excel('Final Data.xlsx', index=False)

In [ ]:

df = pd.read_excel('time_series_data_long_format.xlsx')


df['Year'] = pd.to_numeric(df['Year'], errors='coerce')


df_filtered = df[df['Year'] > 1979]


print(df_filtered)

                      Country Name Code    Year         Value
5320                         Aruba  ABW  1980.0           NaN
5321   Africa Eastern and Southern  AFE  1980.0  1.565127e+11
5322                   Afghanistan  AFG  1980.0  3.641723e+09
5323    Africa Western and Central  AFW  1980.0  1.120313e+11
5324                        Angola  AGO  1980.0  5.934074e+09
...                            ...  ...     ...           ...
16221                       Kosovo  XKX  2020.0  7.716925e+09
16222                  Yemen, Rep.  YEM  2020.0           NaN
16223                 South Africa  ZAF  2020.0  3.354421e+11
16224                       Zambia  ZMB  2020.0  1.811063e+10
16225                     Zimbabwe  ZWE  2020.0  1.805117e+10

[10906 rows x 4 columns]

In [ ]:

df = pd.read_excel('time_series_data_long_format.xlsx')


df['Year'] = pd.to_numeric(df['Year'], errors='coerce')


df['Year'] = df['Year'].astype('Int64')


df_filtered = df[df['Year'] > 1979]


print(df_filtered)

                      Country Name Code  Year         Value
5320                         Aruba  ABW  1980           NaN
5321   Africa Eastern and Southern  AFE  1980  1.565127e+11
5322                   Afghanistan  AFG  1980  3.641723e+09
5323    Africa Western and Central  AFW  1980  1.120313e+11
5324                        Angola  AGO  1980  5.934074e+09
...                            ...  ...   ...           ...
16221                       Kosovo  XKX  2020  7.716925e+09
16222                  Yemen, Rep.  YEM  2020           NaN
16223                 South Africa  ZAF  2020  3.354421e+11
16224                       Zambia  ZMB  2020  1.811063e+10
16225                     Zimbabwe  ZWE  2020  1.805117e+10

[10906 rows x 4 columns]

In [ ]:

df_sorted = df_filtered.sort_values(by=['Country Name', 'Year'])

print(df_sorted)

      Country Name Code  Year         Value
5322   Afghanistan  AFG  1980  3.641723e+09
5588   Afghanistan  AFG  1981  3.478788e+09
5854   Afghanistan  AFG  1982           NaN
6120   Afghanistan  AFG  1983           NaN
6386   Afghanistan  AFG  1984           NaN
...            ...  ...   ...           ...
15161     Zimbabwe  ZWE  2016  2.054868e+10
15427     Zimbabwe  ZWE  2017  1.758489e+10
15693     Zimbabwe  ZWE  2018  1.811554e+10
15959     Zimbabwe  ZWE  2019  1.928429e+10
16225     Zimbabwe  ZWE  2020  1.805117e+10

[10906 rows x 4 columns]

In [ ]:
df2 = pd.read_csv('Final.csv')

# Merge the two datasets on 'Country' and 'Year'
merged_df = pd.merge(df2, df_sorted, how='left', left_on=['Country Name', 'Year'], right_on=['Country Name', 'Year'])

print(merged_df)

      Unnamed: 0 Country Name Code_x  Year  Cellular Subscription  \
0              0  Afghanistan    AFG  1980               0.000000
1              1  Afghanistan    AFG  1981               0.000000
2              2  Afghanistan    AFG  1982               0.000000
3              3  Afghanistan    AFG  1983               0.000000
4              4  Afghanistan    AFG  1984               0.000000
...          ...          ...    ...   ...                    ...
8862        8862     Zimbabwe    ZWE  2016              91.793457
8863        8863     Zimbabwe    ZWE  2017              98.985077
8864        8864     Zimbabwe    ZWE  2018              89.404869
8865        8865     Zimbabwe    ZWE  2019              90.102287
8866        8866     Zimbabwe    ZWE  2020              88.755806

      Internet Users(%)  No. of Internet Users  Broadband Subscription Code_y  \
0              0.000000                      0                0.000000    AFG
1              0.000000                      0                0.000000    AFG
2              0.000000                      0                0.000000    AFG
3              0.000000                      0                0.000000    AFG
4              0.000000                      0                0.000000    AFG
...                 ...                    ...                     ...    ...
8862          23.119989                3341464                1.217633    ZWE
8863          24.400000                3599269                1.315694    ZWE
8864          25.000000                3763048                1.406322    ZWE
8865          25.100000                3854006                1.395818    ZWE
8866          29.299999                4591211                1.368916    ZWE

             Value
0     3.641723e+09
1     3.478788e+09
2              NaN
3              NaN
4              NaN
...            ...
8862  2.054868e+10
8863  1.758489e+10
8864  1.811554e+10
8865  1.928429e+10
8866  1.805117e+10

[8867 rows x 10 columns]

In [ ]:
merged_df.to_excel('Final Data.xlsx', index=False)